body
{
    overflow-x:hidden;
}
.bodyClass
{
    text-align: center;
    
}
.bodyClass h1
{
    margin-top: 8vh;
    color : rgb(0, 255, 242);
}
.bodyClass h3
{
    color : rgb(0, 255, 242);
    margin-bottom : 2vh;
}
.LoginContainer
{
   text-align: center;
}
.InputBox-1
{
    text-align: center;
    margin-top:9vh;
    width: 18vw;
    height: 4vh;
    border-radius: 0.5vh;
    border : none;
}
.InputBox-2
{
    text-align: center;
    margin-top : 2vh;
    width: 18vw;
    height: 4vh;
    border-radius: 0.5vh;
    border : none;
}
.LoginButton
{
    margin-top:5vh;
    width: 10vw;
    background-color: rgb(0, 255, 242);
    color : rgb(0, 14, 44);
    border : none;
    border-radius: 0.6vh;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-family: 'Montserrat', sans-serif;
    height: 4vh;
    font-weight: bold;
}
.LoginButton:active
{
    transition-duration: 0.1s;
    transform : translateY(5px);
}
.LoginBox
{
    text-align: center;
    background-color: rgb(0, 98, 163);
    margin : auto;
    max-width : 35vw;
    height: 55vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 0.3vh;
}
.container-fluid
{
    padding : 0;
}
.LoginBox a 
{
    color : rgb(0, 255, 242);
}
.LoginBox p
{
    color : rgb(0, 255, 242);
}

.homeDiv
{
    margin : 0;   
}
.searchbar
{
    margin-top : 10vh;
    width : 40vw;
    height: 6vh;
    text-align: center;
    border-radius: 1vh;
    border : none;
    font-family: 'Montserrat', sans-serif;

}
.main-content
{
    text-align: center;
    padding: 0px;

}
.gobutton
{
    background-color: rgb(0, 255, 242);
    color : rgb(0, 14, 44);
    border : none;
    border-radius: 1vh;
    height: 6vh;
    margin-left: 1vw;   
    font-weight: bold;
    width : 4vw;
}
.gobutton:hover
{
    transition-duration: 0.3s;
    background-color: white;
    color : rgb(0, 14, 44);
    cursor : pointer;
}
.detail-add
{
    text-align: center;
}
.firstInput
{
    margin-top : 8vh;
    text-align: center;
    border-radius: 0.3vh;
    border : none;
    width : 19vw;
    height: 5vh;
}
.nextInput
{
    text-align: center;
    margin-top :3vh;
    width : 19vw;
    height: 5vh;
}
.movie-submit
{
    border:none;
    background-color: rgb(0, 255, 242);
    color : black;
    border-radius: 0.5vh;
    margin-top : 6vh;
    width: 10vw ; 
    height : 4vh;
}
.detail-add h1
{
    color : white;
}
.movie-list
{
    background-color: rgb(0, 98, 163);
    padding-top: 2vh;
    height: 70vh;
    margin-top : 9vh;
}
.movie-card
{
    height: 55vh;
    padding-top: 1vh;
    background-color: white;
    max-width: 20vw;
    margin-top : 5vh;
    margin-left : 2.75vw;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
#dropdown-basic-button
{
    float : right;
    margin-right:2vw;   
    background-color: rgb(0, 14, 44);
    border : none ;
    text-decoration: none;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.nav-bar
{
    background-color: white;
    margin : auto;
    padding: 0px;
    padding-top: 1.8vh;
    color : rgb(0, 14, 44);
    text-align: center;
    height: 10vh;
}
.nav-bar h2
{
    float:left;
    margin-left: 2vw;
}
.movie-card h6
{
    margin-top : 2vh;

}
.poster-img
{
    margin-top : 2vh;
}
